#wrap {
    width: 1050px;
    height: 650px;
    margin: 0 auto;
    /* disable the selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#carouel1 {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    height: 510px;
    margin-left: 10px;
}

#carouel1 li {
    text-align: center;
    overflow: hidden;
    width: 300px;
    height: 510px;
}

#wrap img {
    margin: 0;
    padding: 0;
}

li.roundabout-in-focus {
    cursor: default;
}

.front {
    position: relative;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.back {
    position: absolute;
    float: left;
    color: #333;
    margin: 0;
    padding: 0;
    z-index: 800;
    background: transparent;
    overflow: hidden;
}

#carouel1 .front,
#carouel1 .back {
    width: 310px;
    height: 510px;
}

#carouel1 .back {
    top: 0px;
    left: 0;
}