/*===============================================
|                                               |
| Return Top Button                             |
|                                               |
===============================================*/

main {
    padding: 0 3rem;
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
}

main *:last-child {
    margin-bottom: 0;
}

.back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 1rem;
    bottom: -5em;
    width: 3em;
    pointer-events: none;
}

.back-to-top-link {
    position: fixed;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.25rem;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: -webkit-transform 80ms ease-in;
    transition: -webkit-transform 80ms ease-in;
    transition: transform 80ms ease-in;
    transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.back-to-top-link:hover,
.back-to-top-link:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.back-to-top-link:focus {
    outline: none;
    box-shadow: transparent;
}

.fa-arrow-circle-up {
    animation: colorRotate 6s linear 0s infinite;
}