@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
.social{
    position:fixed;
    top:30%;
    right:-10.5%
}

.social ul li{
    display: block;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    width: 200px;
    text-align: left;
    padding: 5px;
    border-radius: 30px 0px 0px 30px;
    transition: all 1s;
}
.social ul li:hover{
    transform: translatex(-130px);
}

.social ul li.server-page:hover{
    background-color: transparent;
}
.social ul li.server-group:hover{
    background-color: transparent;
}
.social ul li.sskyworms-facebook:hover{
    background-color: transparent;
}
.social ul li a{
    color: white;
    margin: 5px;
    margin-left:2px; 
	animation: colorRotate 6s linear 0s infinite;
}

.social ul li i{
    text-align: center;
    margin-left: 14px;
    color: black;
    background-color: transparent;
    padding:10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    transform: rotate(0deg);
	animation: colorRotate 6s linear 0s infinite;
}

.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}