header {
    width: 100%;
    height: 50%;
    background: url('../images/background.jpg') no-repeat 50% 50%;
    background-size: cover;
}

html,
body {
    background: linear-gradient(to bottom, rgba(69, 77, 84) 0%, rgba(52, 58, 64) 100%);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}